<div class="contenido">
<!-- Slider -->
<div class="wrap">
    <div class="lista-carrusel">
      <label for="carrusel-1-trigger">Bosques</label>
      <label for="carrusel-2-trigger">Cascadas</label>
      <label for="carrusel-3-trigger">Ríos</label>
      <label for="carrusel-4-trigger">Senderismo</label>
      <label for="carrusel-5-trigger">Alpinismo</label>
    </div>

    <input id="carrusel-1-trigger" type="radio" name="slides" checked>
    <section class="carrusel carrusel-one">
      <h2 class="texto-carrusel">Bosques</h2>
      <h3 class="texto-frase-carrusel">“Necesitas una sensación de paz y relajación, camina por el bosque”</h3>
      <h3 class="texto-frase-carrusel">Byron Pulsifer</h3>
    </section>
    <input id="carrusel-2-trigger" type="radio" name="slides">
    <section class="carrusel carrusel-two">
      <h2 class="texto-carrusel">Cascadas</h2>
      <h3 class="texto-frase-carrusel">“No hay mejor lugar para encontrarse con uno mismo que sentarse junto a una
        cascada y escuchar su música.”</h3>
      <h3 class="texto-frase-carrusel">Roland R Kemler</h3>
    </section>
    <input id="carrusel-3-trigger" type="radio" name="slides">
    <section class="carrusel carrusel-three">
      <h2 class="texto-carrusel">Rios</h2>
      <h3 class="texto-frase-carrusel">“Un río atraviesa la roca no por su poder sino por su persistencia”</h3>
      <h3 class="texto-frase-carrusel">Jim Watkins</h3>
    </section>
    <input id="carrusel-4-trigger" type="radio" name="slides">
    <section class="carrusel carrusel-four">
      <h2 class="texto-carrusel">Senderismo</h2>
      <h3 class="texto-frase-carrusel">“Caminar por la naturaleza es presenciar mil milagros”</h3>
      <h3 class="texto-frase-carrusel">Mary Davis</h3>
    </section>
    <input id="carrusel-5-trigger" type="radio" name="slides">
    <section class="carrusel carrusel-five">
      <h2 class="texto-carrusel">Alpinismo</h2>
      <h3 class="texto-frase-carrusel">“Persigo la felicidad. Y la montaña responde a mi búsqueda"</h3>
      <h3 class="texto-frase-carrusel">Chantal Maudit</h3>
    </section>

  </div>
  <!-- Fin Slider -->
</div>
